In [1]:
import pandas as pd

In [14]:
florida = pd.read_csv('../data/florida_covid_data_the_atlantic_ORIGINAL.csv')
new_york = pd.read_csv('../data/new_york_covid_data_the_atlantic.csv')

In [15]:
florida.head()

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2021-01-24,FL,A,25693.0,NaN,132,NaN,71219.0,71219.0,6727.0,...,18397824,102178,650372.0,NaN,630838.0,NaN,9862348.0,37009,16456335.0,82643
1,2021-01-23,FL,A,25561.0,NaN,156,NaN,71037.0,71037.0,6711.0,...,18295646,169590,650372.0,NaN,630838.0,NaN,9825339.0,61098,16373692.0,138643
2,2021-01-22,FL,A,25405.0,NaN,277,NaN,70767.0,70767.0,6904.0,...,18126056,83831,650372.0,NaN,630838.0,NaN,9764241.0,35596,16235049.0,82008
3,2021-01-21,FL,A,25128.0,NaN,163,NaN,70306.0,70306.0,7023.0,...,18042225,131557,650372.0,NaN,630838.0,NaN,9728645.0,50506,16153041.0,111467
4,2021-01-20,FL,A,24965.0,NaN,145,NaN,69954.0,69954.0,7141.0,...,17910668,89293,650372.0,NaN,630838.0,NaN,9678139.0,38782,16041574.0,85876

In [7]:
new_york.head()

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2021-02-10,NY,A,36619.0,NaN,138,NaN,89995.0,89995.0,7593.0,...,34026048,176750,NaN,NaN,NaN,NaN,NaN,0,NaN,0
1,2021-02-09,NY,A,36481.0,NaN,142,NaN,89995.0,89995.0,7875.0,...,33849298,153648,NaN,NaN,NaN,NaN,NaN,0,NaN,0
2,2021-02-08,NY,A,36339.0,NaN,115,NaN,89995.0,89995.0,7716.0,...,33695650,197183,NaN,NaN,NaN,NaN,NaN,0,NaN,0
3,2021-02-07,NY,A,36224.0,NaN,145,NaN,89995.0,89995.0,7649.0,...,33498467,250892,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4,2021-02-06,NY,A,36079.0,NaN,159,NaN,89995.0,89995.0,7804.0,...,33247575,261285,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [8]:
new_york_new = new_york.iloc[::-1]

In [9]:
new_york_new.head()

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
345,2020-03-02,NY,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
344,2020-03-03,NY,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,1,1,NaN,NaN,NaN,NaN,NaN,0,NaN,0
343,2020-03-04,NY,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,...,10,9,NaN,NaN,NaN,NaN,NaN,0,NaN,0
342,2020-03-05,NY,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,30,20,NaN,NaN,NaN,NaN,NaN,0,NaN,0
341,2020-03-06,NY,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,122,92,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [18]:
new_york_new.to_csv('../data/new_york_covid_data_the_atlantic.csv', index=False)

In [16]:
florida_new = florida.iloc[::-1]

In [17]:
florida_new.head()

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
361,2020-01-29,FL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,1,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
360,2020-01-30,FL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,1,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
359,2020-01-31,FL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,4,3,NaN,NaN,NaN,NaN,NaN,0,NaN,0
358,2020-02-01,FL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,4,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
357,2020-02-02,FL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,4,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [19]:
florida_new.to_csv('../data/florida_covid_data_the_atlantic.csv', index=False)